# PSU Python Training

## Basic Python Syntax

Python syntax is very simple.

In [1]:
print("Hello, Python")
print("Hi, world"); print('Ni hao!') # a semicolon specify the end of statement
# print("Student's info")

Hello, Python
Hi, world
Ni hao!

In [2]:
# comment 1
# comment 2
"""
This is a multiline comment.

It has to be surrounded by triple quotes.
"""

'\nThis is a multiline comment.\n\nIt has to be surrounded by triple quotes.\n'

### Numbers and mathematical operators

In [3]:
3 + (5 - 4)

4

In [4]:
3 * 5

15

In [5]:
40 / 5

8

In [6]:
2 ** 3

8

In [7]:
5. / 3

1.6666666666666667

In [8]:
103 % 2

1

In [9]:
int(3.4)

3

In [10]:
float(3)

3.0

In [11]:
x = 7

In [12]:
100 / float(x)

14.285714285714286

### String (text) manipulation

In [13]:
print("hello\nworld")

hello
world

In [14]:
print("hello\tworld") # tab delimited/separated values (tsv)

hello	world

In [15]:
s = "hello, world"

In [16]:
len(s) # length of string

12

In [17]:
len("psu")

3

In [18]:
"hello" + ", psu"

'hello, psu'

In [19]:
s = s + ' python is good'

In [20]:
s

'hello, world python is good'

In [21]:
s.capitalize()

'Hello, world python is good'

In [22]:
upper_s = s.upper()

In [23]:
s = s.upper()

In [24]:
upper_s

'HELLO, WORLD PYTHON IS GOOD'

In [25]:
s

'HELLO, WORLD PYTHON IS GOOD'

In [26]:
"hello world psu".split()

['hello', 'world', 'psu']

In [27]:
"hello\tworld\tpsu".split('\t')

['hello', 'world', 'psu']

In [28]:
"hello\tworld\tpsu".split('s')

['hello\tworld\tp', 'u']

In [29]:
"13.4\t20.3\t100.4".split('\t')

['13.4', '20.3', '100.4']

In [30]:
import string

In [31]:
"hello, world".upper().split(',')

['HELLO', ' WORLD']

In [32]:
"hello"[0]

'h'

In [33]:
"hello"[1], "hello"[-1]

('e', 'o')

In [34]:
"hello"[:3]

'hel'

In [35]:
"hello"[3:]

'lo'

In [36]:
"hello"[2:4]

'll'

In [37]:
"hello"[-3:]

'llo'

In [38]:
"hello"[:-3]

'he'

In [39]:
"hello"[:4:2]

'hl'

In [40]:
"hello"[::-1]

'olleh'

In [41]:
"## 13.4,5.6,7.8"[3:].split(',')

['13.4', '5.6', '7.8']

In [42]:
"helloe".replace('e', 'o')

'holloo'

In [43]:
"13.4####15.6##11.2".replace('#', ' ')

'13.4    15.6  11.2'

In [44]:
"13.4####15.6##11.2".replace('#', ' ').split()

['13.4', '15.6', '11.2']

In [45]:
'ACTTGACXAGGTGCGTXXA'.replace('X', 'N')

'ACTTGACNAGGTGCGTNNA'

In [46]:
"hello".find('he')

0

In [47]:
"hello".find('ll')

2

In [48]:
"hello".find('me')

-1

In [49]:
"Data Analytics".lower().find("data")

0

In [50]:
" data analytics  ".strip()

'data analytics'

In [51]:
" data analytics  ".strip().lower().find("data")

0

In [52]:
user_search_key = 'Data'

In [53]:
"data analytics".find(user_search_key.lower())

0

In [54]:
s.rsplit?

In [55]:
c = 'XXD393940'

In [56]:
digital_part = c[3:]

In [57]:
digital_part.isdigit() or len(digital_part) >= 6

True

In [58]:
"hello".isalpha()

True

In [59]:
"hello3".isalnum()

True

In [60]:
"###".isalnum()

False

In [61]:
"hello,world\n".strip('\n')

'hello,world'

In [62]:
"#hello,world".strip('#')

'hello,world'

### Compound Data Types

* List (Array)
* Set
* Dictionary

In [65]:
list(), [] # empty list

([], [])

In [66]:
[1,2,3,4]

[1, 2, 3, 4]

In [67]:
len([1,2,3,4])

4

In [68]:
[1,2,3,4][0] # indexing

1

In [69]:
[1,2,3,4][:3]

[1, 2, 3]

In [71]:
alist = [1,2,3,4]

In [72]:
blist = [3,4,5,6]

In [73]:
alist.append(10), blist.append(-1)

(None, None)

In [74]:
alist, blist

([1, 2, 3, 4, 10], [3, 4, 5, 6, -1])

In [76]:
alist.insert(0, -22)

In [77]:
alist

[-22, 1, 2, 3, 4, 10]

In [79]:
combined = alist + blist

In [80]:
len(combined)

11

In [82]:
alist * blist

TypeError: can't multiply sequence by non-int of type 'list'

In [83]:
alist * 2

[-22, 1, 2, 3, 4, 10, -22, 1, 2, 3, 4, 10]

In [84]:
'h' * 10

'hhhhhhhhhh'

In [85]:
"==" * 45

'=========================================================================================='

In [88]:
count_items = [0] * 10

In [89]:
count_items

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [90]:
count_items[3] += 1

In [91]:
count_items

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [92]:
count_items[0] += 1

In [93]:
count_items

[1, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [94]:
clist = [1,2,"hello", "world"]

In [95]:
clist

[1, 2, 'hello', 'world']

In [98]:
clist[0] * 2, clist[3] * 2

(2, 'worldworld')

In [99]:
dlist = [alist, blist, clist]

In [100]:
dlist

[[-22, 1, 2, 3, 4, 10], [3, 4, 5, 6, -1], [1, 2, 'hello', 'world']]

In [101]:
dlist[0]

[-22, 1, 2, 3, 4, 10]

In [102]:
dlist[1]

[3, 4, 5, 6, -1]

In [103]:
dlist[2]

[1, 2, 'hello', 'world']

In [104]:
dlist[0][2]

2

In [105]:
amatrix = [[1,2,3,4], [2,3,4,5], [3,4,5,6]]

In [106]:
amatrix

[[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

In [107]:
amatrix[0][1], amatrix[1][1], amatrix[2][1]

(2, 3, 4)

In [110]:
elist = [1,2,3,4]
elist.pop()
elist.pop()
elist.pop()

2

In [112]:
elist.pop()
elist.pop()

IndexError: pop from empty list

In [114]:
set() # create an empty set

set()

In [115]:
aset = set([1,2,3,3,3,2,1])

In [116]:
aset

{1, 2, 3}

In [117]:
aset.add(4)

In [118]:
aset

{1, 2, 3, 4}

In [119]:
bset = {3,4,5,6}

In [120]:
aset.union(bset)

{1, 2, 3, 4, 5, 6}

In [123]:
aset.intersection(bset)

{3, 4}

In [124]:
aset.difference(bset)

{1, 2}

In [125]:
bset.difference(aset)

{5, 6}

In [126]:
3 in aset, 3 in alist

(True, True)

In [128]:
{2,3}.issubset(aset)

True

In [131]:
aset

{1, 2, 3, 4}

In [138]:
3 in alist and 4 in alist

True

In [139]:
{3,4}.issubset(set(alist))

True

### Dictionary

In [142]:
dict(), {} # create empty dict

({}, {})

In [141]:
{'name': 'John', 'lastname': 'Doe'}

{'lastname': 'Doe', 'name': 'John'}

In [143]:
adict = {'name': 'John', 'lastname': 'Doe'}

In [145]:
adict['name']

'John'

In [146]:
adict['lastname']

'Doe'

In [147]:
adict['age'] = 35

In [148]:
adict

{'age': 35, 'lastname': 'Doe', 'name': 'John'}

In [149]:
adict['age'] = 36

In [150]:
adict

{'age': 36, 'lastname': 'Doe', 'name': 'John'}

In [151]:
bdict = {'A': 30, 'B': 45, 'C': 50}

In [152]:
bdict

{'A': 30, 'B': 45, 'C': 50}

In [155]:
emp_rec = {34: adict}

In [156]:
emp_rec

{34: {'age': 36, 'lastname': 'Doe', 'name': 'John'}}

In [158]:
emp_rec[34]['name']

'John'

In [162]:
emp_rec[100] = {'age': 23, 'lastname': 'Eva', 'name': 'Jane'}

In [160]:
emp_rec

{34: {'age': 36, 'lastname': 'Doe', 'name': 'John'},
 100: {'age': 23, 'lastname': 'Eva', 'name': 'Jane'}}

In [163]:
emp_rec[4] = {'position': 'manager', 'age': 23, 'lastname': 'Lucus', 'name': 'Josh'}

In [164]:
emp_rec

{4: {'age': 23, 'lastname': 'Lucus', 'name': 'Josh', 'position': 'manager'},
 34: {'age': 36, 'lastname': 'Doe', 'name': 'John'},
 100: {'age': 23, 'lastname': 'Eva', 'name': 'Jane'}}

In [165]:
adict.keys()

['lastname', 'age', 'name']

In [166]:
emp_rec.keys()

[4, 34, 100]

In [167]:
adict.values()

['Doe', 36, 'John']

In [168]:
emp_rec.values()

[{'age': 23, 'lastname': 'Lucus', 'name': 'Josh', 'position': 'manager'},
 {'age': 36, 'lastname': 'Doe', 'name': 'John'},
 {'age': 23, 'lastname': 'Eva', 'name': 'Jane'}]

In [169]:
adict.items()

[('lastname', 'Doe'), ('age', 36), ('name', 'John')]

## Control flow

### condition: if and else

In [170]:
True, False

(True, False)

In [171]:
1 == True, 0 == False

(True, True)

In [173]:
2 == True, 3 == True

(False, False)

In [176]:
[] == True, [] == False

(False, False)

In [175]:
'' == False

False

In [178]:
if True:
    print('It is true')
print('Outside if block')

It is true
Outside if block

In [179]:
if False:
    print('It is true')
print('Outside if block')

Outside if block

In [180]:
if 3<5:
    print('It is true')
else:
    print('It is not true')

It is true

In [181]:
if 3>5:
    print('It is true')
else:
    print('It is not true')

It is not true

In [182]:
x = 30
if x < 50:
    print('low')
if x < 100:
    print('medium')
else:
    print('high')

low
medium

In [183]:
x = 30
if x < 50:
    print('low')
elif x < 100:
    print('medium')
else:
    print('high')

low

In [184]:
y = 300
x = 30
if x < 50 and y < 100:
    print('group A')
elif x < 50 and y > 100:
    print('group B')
else:
    print('no group')

group B

In [185]:
a = [1,2,3,4]
if 5 not in a:
    a.append(5)

In [186]:
a

[1, 2, 3, 4, 5]

* [ ] list
* { } dictionary
* ( ) tuples == list
* {x,y} set

In [191]:
a = [] # evaluated to false
if not a:
    print('the list is empty')

the list is empty

In [192]:
if not '': # evaluted to false
    print("the empty string")

the empty string

In [193]:
if 3: # evaluted to true
    print('a number')

a number

In [194]:
if not {}:
    print("empty dict")

empty dict

In [196]:
if not set():
    print("empty set")

empty set

### Loop
* for
* while

In [197]:
n = 0
while n < 5:
    print('n=', n)
    n += 1

('n=', 0)
('n=', 1)
('n=', 2)
('n=', 3)
('n=', 4)

In [200]:
tripled = []
for item in [1,2,3,4,5]:
    tripled.append(item * 3)

In [201]:
tripled

[3, 6, 9, 12, 15]

In [212]:
range()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [224]:
weights = [55.6, 45.5, 78.7, 99.4, 69.0]
heights = [167.9, 155.6, 178.8, 176.0, 180.0]
bmis = []
groups = []
for idx in range(len(weights)):
    w = weights[idx]
    h = (heights[idx]/100.0)**2
    bmi = w/h
    bmis.append(bmi)
    if bmi < 22.0:
        groups.append('normal')
    elif bmi < 28.0:
        groups.append('risk')
    else:
        groups.append('overweight')

In [226]:
groups

['normal', 'normal', 'risk', 'overweight', 'normal']

In [228]:
abnormal_idx = [] # indexes of abnormal bmis
for idx in range(len(groups)):
    if groups[idx] != 'normal':
        abnormal_idx.append(idx)

In [229]:
abnormal_idx

[2, 3]

In [230]:
for idx in abnormal_idx:
    print(weights[idx], heights[idx], bmis[idx])

(78.7, 178.8, 24.61725948280608)
(99.4, 176.0, 32.08935950413223)